@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Cera Pro';
    src: url('../../public/fonts/CeraPro-Regular.woff') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../../public/fonts/CeraPro-Bold.woff') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../../public/fonts/CeraPro-Black.woff') format('woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../../public/fonts/CeraPro-Light.woff') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../../public/fonts/CeraPro-Medium.woff') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../../public/fonts/CeraPro-Thin.woff') format('woff2');
    font-weight: 100;
}

body {
    font-family: 'Cera Pro';
    color: $primaryColor;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1215px;
    width: 100%;
    margin: auto;
}

.green-btn {
    font-family: 'Cera Pro';
    background-color: $greenColor;
    color: $whiteColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.1s;
}

.green-btn:hover {
    opacity: 0.9;
}

.white-btn {
    font-family: 'Cera Pro';
    background-color: $whiteColor;
    color: $greenColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.1s;
    border: 1px solid $greenColor;
}

.white-btn:hover {
    background-color: #f8f8f8;
}

.logo {
    width: 150px;
    height: auto;
}

.sortSelect {
    width: 180px;

    .react-select__control {
        border: none;
        box-shadow: none;
        cursor: pointer;
        &:hover {
            border-color: none;
        }
    }

    .react-select__indicator-separator {
        display: none;
    }

    .react-select__dropdown-indicator {
        color: #333;
    }

    .react-select__menu {
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .react-select__option {
        background-color: #fff;
        color: #333;
        cursor: pointer;
        &:hover {
            background-color: #f1f1f1;
        }
    }

    .react-select__single-value {
        color: #333;
    }
}

.select__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
