@import '../../sass/variables.scss';

.authWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 4;
}

.auth {
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: $whiteColor;
    padding-bottom: 20px;
    padding: 50px 100px;
    border-bottom: 10px solid $greenColor;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        font-size: 20px;
        font-weight: 500;
        line-height: 16px;
        color: $primaryColor;
        span {
            cursor: pointer;
        }
    }
    p {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        margin-top: 50px;
    }
    form {
        margin-top: 14px;
        input {
            width: 100%;
            margin-bottom: 17px;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            padding: 10px 14px;
            color: $primaryColor;
            outline: none;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            font-family: 'Cera Pro';

            &::placeholder {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                color: $secondaryColor;
                letter-spacing: 0.3px;
            }
        }
        .inputPassword {
            position: relative;
            input {
                letter-spacing: 2px;
            }
        }
        .hideIcon {
            cursor: pointer;
            position: absolute;
            top: 12px;
            color: $secondaryColor;
            right: 10px;
            font-size: 20px;
            &:hover {
                color: $greenColor;
            }
        }
        .loginBtn {
            width: 100%;
            height: 45px;
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            margin-top: 20px;
        }
    }
}

.closeSvg {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: $secondaryColor;
    &:hover {
        color: $greenColor;
    }
}
