@import '../../sass/variables.scss';

.nav__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.btnLogin {
    font-family: 'Cera Pro';
    font-weight: 500;
    width: 100px;
    height: 35px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.searchIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 5;
}

.searchWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.searchBg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.496);
    z-index: 2;
}

.searchInput {
    display: block;
    pointer-events: none;
    width: 300px;
    opacity: 0;
    border: 1px solid #4e4e4e;
    border-radius: 3px;
    height: 35px;
    outline: none;
    font-family: 'Cera Pro';
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    background-color: #ffffffe9;

    position: absolute;
    right: -10px;
    z-index: 3;

    transition: 0.3s;

    &::placeholder {
        font-family: 'Cera Pro';
        font-size: 14px;
        font-weight: 400;
        line-height: 15px;
        color: #a5a5a5;
    }
}

.searchInputFocus {
    opacity: 1;
    pointer-events: all;
    padding-left: 10px;
    padding-right: 40px;
}

.searchList {
    position: absolute;
    top: 50px;
    right: -10px;
    background-color: $whiteColor;
    width: 300px;
    z-index: 3;
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    .searchLink {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        height: 100%;
        padding: 8px 10px;

        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: #eeeeee;
        }

        img {
            width: 40px;
            height: 40px;
        }
        h3 {
            font-size: 16px;
            color: $greenColor;
        }
    }

    li {
        padding: 8px 10px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: #f1f1f1;
        }
    }
}

.searchListFocus {
    opacity: 1;
    visibility: visible;
    top: 35px;
}

.cartIcon {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.cartCounter {
    position: absolute;
    top: -2px;
    right: -6px;
    font-size: 10px;
    font-weight: 500;
    background-color: $greenColor;
    color: $whiteColor;
    padding: 1px 5px;
    border-radius: 50%;
}

.loginIcon {
    font-size: 20px;
}
